body{
  margin: 0px;
  padding: 0px;
}
.logo{
  height: 150px;
  width: 150px;
  background-color: #E23744;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 50%;
  margin-top: 50px;
}
.text{
  font-family: 'MetropolisRegular';
  font-style: italic;
  font-weight: bold;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-left: 51.5%;
  margin-top: 4.5%;
  font-size: 30px;
  color: white;
}
